<footer>


  <!-- I love the slim seprator line generated in this way -->
  <div style="height:0;overflow:hiddne;border-top:1px solid #EDEDED" class="separator"></div>
  <br />

  <div class="bottom">
      <!-- If any of the image is clicked, then it will start a new tab -->
      <table class="bottom">
          <tr>
              <td>
                  <a href="mailto:wanghaodawn@cmu.edu" target="_blank">
                      <img class="bottom" src="https://s3.amazonaws.com/hao-wang-portfolio/images/contact-black/black-email-icon.png" onmouseover="this.src='https://s3.amazonaws.com/hao-wang-portfolio/images/contact-blue/blue-email-icon.png';" onmouseout="this.src='https://s3.amazonaws.com/hao-wang-portfolio/images/contact-black/black-email-icon.png';" alt="email-icon">
                  </a>
              </td>
              <td>
                  <a href="https://www.linkedin.com/in/wanghaodawn" target="_blank">
                      <img class="bottom" src="https://s3.amazonaws.com/hao-wang-portfolio/images/contact-black/black-linkedin-icon.png" onmouseover="this.src='https://s3.amazonaws.com/hao-wang-portfolio/images/contact-blue/blue-linkedin-icon.png';" onmouseout="this.src='https://s3.amazonaws.com/hao-wang-portfolio/images/contact-black/black-linkedin-icon.png';" alt="linkedin-icon">
                  </a>
              </td>
              <td>
                  <a href="https://github.com/wanghaodawn" target="_blank">
                      <img class="bottom" src="https://s3.amazonaws.com/hao-wang-portfolio/images/contact-black/black-github-icon.png" onmouseover="this.src='https://s3.amazonaws.com/hao-wang-portfolio/images/contact-blue/blue-github-icon.png';" onmouseout="this.src='https://s3.amazonaws.com/hao-wang-portfolio/images/contact-black/black-github-icon.png';" alt="github-icon">
                  </a>
              </td>
              <td>
                  <a href="https://www.facebook.com/hao.wang.524934" target="_blank">
                      <img class="bottom" src="https://s3.amazonaws.com/hao-wang-portfolio/images/contact-black/black-facebook-icon.png" onmouseover="this.src='https://s3.amazonaws.com/hao-wang-portfolio/images/contact-blue/blue-facebook-icon.png';" onmouseout="this.src='https://s3.amazonaws.com/hao-wang-portfolio/images/contact-black/black-facebook-icon.png';" alt="facebook-icon">
                  </a>
              </td>
              <td>
                  <a href="https://www.instagram.com/whdawn" target="_blank">
                      <img class="bottom" src="https://s3.amazonaws.com/hao-wang-portfolio/images/contact-black/black-instagram-icon.png" onmouseover="this.src='https://s3.amazonaws.com/hao-wang-portfolio/images/contact-blue/blue-instagram-icon.png';" onmouseout="this.src='https://s3.amazonaws.com/hao-wang-portfolio/images/contact-black/black-instagram-icon.png';" alt="instagram-icon">
                  </a>
              </td>
              <td>
                  <a href="https://500px.com/wanghaodawn" target="_blank">
                      <img class="bottom" src="https://s3.amazonaws.com/hao-wang-portfolio/images/contact-black/black-500px-icon.png" onmouseover="this.src='https://s3.amazonaws.com/hao-wang-portfolio/images/contact-blue/blue-500px-icon.png';" onmouseout="this.src='https://s3.amazonaws.com/hao-wang-portfolio/images/contact-black/black-500px-icon.png';" alt="500px-icon">
                  </a>
              </td>
          </tr>
      </table>
  </div>

  <p class="bottom">
      Copyright &copy; 2017
  </p>

</body>
</html>





</footer>
