<wordcloud_template>
    <!-- WORD CLOUD -->
    <table class="body-item-1">
        <tr class="body-item">
            <td class="body-item">
                <p class="body-item-title-school">
                    WORD CLOUD
                </p>
            </td>
        </tr>
    </table>
    <table class="body-item-2">
        <tr class="body-item">
            <td class="body-item">
                <p class="body-item-content">
                    TOP 10 CATEGORIES:
                </p>
                <a class="school-name" href="pittsburgh?wordcloud_name=restaurants">
                    <p class="body-item-content">
                        Restaurants
                    </p>
                </a>
                <a class="school-name" href="pittsburgh?wordcloud_name=shopping">
                    <p class="body-item-content">
                        Shopping
                    </p>
                </a>
                <a class="school-name" href="pittsburgh?wordcloud_name=food">
                    <p class="body-item-content">
                        Food
                    </p>
                </a>
                <a class="school-name" href="pittsburgh?wordcloud_name=beauty_spas">
                    <p class="body-item-content">
                        Beauty & Spas
                    </p>
                </a>
                <a class="school-name" href="pittsburgh?wordcloud_name=home_services">
                    <p class="body-item-content">
                        Home Services
                    </p>
                </a>
                <a class="school-name" href="pittsburgh?wordcloud_name=nightlife">
                    <p class="body-item-content">
                        Nightlife
                    </p>
                </a>
                <a class="school-name" href="pittsburgh?wordcloud_name=health_medical">
                    <p class="body-item-content">
                        Health & Medical
                    </p>
                </a>
                <a class="school-name" href="pittsburgh?wordcloud_name=bars">
                    <p class="body-item-content">
                        Bars
                    </p>
                </a>
                <a class="school-name" href="pittsburgh?wordcloud_name=automotive">
                    <p class="body-item-content">
                        Automotive
                    </p>
                </a>
                <a class="school-name" href="pittsburgh?wordcloud_name=local_services">
                    <p class="body-item-content">
                        Local Services
                    </p>
                </a>
            </td>
        </tr>
    </table>
</wordcloud_template>
