{{> header}}

    <body>

      <!-- Navbar -->
        <div class="navbar">
            <table class="navbar">
                <tr class="navbar">
                    <td class="navbar-icon">
                        <a href="index.html">
                            <img class="navbar-logo" src="images/logo/logo-medium.png" alt="logo">
                        </a>
                    </td>
                    <td class="navbar-word">
                        <a href="statistics">
                            <p class="navbar-current">
                                STATISTICS
                            </p>
                        </a>
                    </td>
                    <td class="navbar-word">
                        <a href="pittsburgh">
                            <p class="navbar">
                                PITTSBURGH
                            </p>
                        </a>
                    </td>
                    <td class="navbar-word">
                        <a href="">
                            <p class="navbar">
                                ABOUT
                            </p>
                        </a>
                    </td>
                    <td class="navbar-word">
                        <a href="about">
                            <p class="navbar">
                                ABOUT
                            </p>
                        </a>
                    </td>
                </tr>
            </table>


            <!-- I love the slim seprator line generated in this way -->
            <div style="height:0;overflow:hiddne;border-top:1px solid #DBDBDB" class="separator"></div>
        </div>



            <br /><br /><br /><br />
        </div>


{{> footer}}
