{{> header}}

    <body>

    <link rel="stylesheet" href="//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css">


      <!-- JvectorMap -->
      <link rel="stylesheet" href="jvectormap/jquery-jvectormap-2.0.3.css" type="text/css" media="screen"/>
      <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
      <script src="jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
      <script src="jvectormap/jquery-jvectormap-world-mill.js"></script>
      <script src="jvectormap/jquery-jvectormap-us-aea.js"></script>
      <script src="jvectormap/jquery-jvectormap-ca-lcc.js"></script>
      <script src="jvectormap/jquery-jvectormap-de-mill.js"></script>
      <script src="jvectormap/jquery-jvectormap-uk_regions-mill.js"></script>
      <script src="http://d3js.org/d3.v3.min.js"></script>
      <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
      <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>

      <script>
          // Parameters
          const backgroundColor = '#08101c';
          const borderColor = '#4772b8';
      </script>


      <!-- Navbar -->
        <div class="navbar">
            <table class="navbar">
                <tr class="navbar">
                    <td class="navbar-icon">
                        <a href="index.html">
                            <img class="navbar-logo" src="images/logo/logo-medium.png" alt="logo">
                        </a>
                    </td>
                    <td class="navbar-word">
                        <a href="statistics">
                            <p class="navbar">
                                STATISTICS
                            </p>
                        </a>
                    </td>
                    <td class="navbar-word">
                        <a href="pittsburgh">
                            <p class="navbar-current">
                                PITTSBURGH
                            </p>
                        </a>
                    </td>
                    <td class="navbar-word">
                        <a href="">
                            <p class="navbar">
                                ABOUT
                            </p>
                        </a>
                    </td>
                    <td class="navbar-word">
                        <a href="about">
                            <p class="navbar">
                                ABOUT
                            </p>
                        </a>
                    </td>
                </tr>
            </table>


            <!-- I love the slim seprator line generated in this way -->
            <div style="height:0;overflow:hiddne;border-top:1px solid #DBDBDB" class="separator"></div>
        </div>

        <!-- Middle -->
        <div class="grey-canvas">

            <!-- Bar Chart -->
            <table class="body-item-1">
                <tr class="body-item">
                    <td class="body-item">
                        <p class="body-item-title-school">
                            BAR CHART
                        </p>
                    </td>
                </tr>
            </table>
            <table class="body-item-2">
                <tr class="body-item">
                    <td class="body-item">
                        <canvas id="myChart">
                            <script>
                            var data = {
                                labels: ["January", "February", "March", "April", "May", "June", "July"],
                                datasets: [
                                    {
                                        label: "My First dataset",
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderColor: [
                                            'rgba(255,99,132,1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1,
                                        data: [65, 59, 80, 81, 56, 55, 40],
                                    }
                                ]
                            };
                            var ctx = document.getElementById("myChart");
                            var myBarChart = new Chart(ctx, {
                                type: 'bar',
                                data: data,
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero:true
                                            }
                                        }]
                                    }
                                }
                            });
                            </script>
                        </div>
                    </td>
                </tr>
            </table>


              <br /><br /><br /><br />
        </div>


{{> footer}}
