{{> header}}

    <body>

    <link rel="stylesheet" href="//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css">


      <!-- JvectorMap -->
      <link rel="stylesheet" href="jvectormap/jquery-jvectormap-2.0.3.css" type="text/css" media="screen"/>
      <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
      <script src="jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
      <script src="jvectormap/jquery-jvectormap-world-mill.js"></script>
      <script src="jvectormap/jquery-jvectormap-us-aea.js"></script>
      <script src="jvectormap/jquery-jvectormap-ca-lcc.js"></script>
      <script src="jvectormap/jquery-jvectormap-de-mill.js"></script>
      <script src="jvectormap/jquery-jvectormap-uk_regions-mill.js"></script>
      <script src="http://d3js.org/d3.v3.min.js"></script>
      <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
      <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>

      <script>
          // Parameters
          const backgroundColor = '#08101c';
          const borderColor = '#4772b8';
      </script>


      <!-- Navbar -->
        <div class="navbar">
            <table class="navbar">
                <tr class="navbar">
                    <td class="navbar-icon">
                        <a href="index.html">
                            <img class="navbar-logo" src="images/logo/logo-medium.png" alt="logo">
                        </a>
                    </td>
                    <td class="navbar-word">
                        <a href="statistics">
                            <p class="navbar">
                                STATISTICS
                            </p>
                        </a>
                    </td>
                    <td class="navbar-word">
                        <a href="pittsburgh">
                            <p class="navbar-current">
                                PITTSBURGH
                            </p>
                        </a>
                    </td>
                    <td class="navbar-word">
                        <a href="">
                            <p class="navbar">
                                ABOUT
                            </p>
                        </a>
                    </td>
                    <td class="navbar-word">
                        <a href="about">
                            <p class="navbar">
                                ABOUT
                            </p>
                        </a>
                    </td>
                </tr>
            </table>


            <!-- I love the slim seprator line generated in this way -->
            <div style="height:0;overflow:hiddne;border-top:1px solid #DBDBDB" class="separator"></div>
        </div>

        <!-- Middle -->
        <div class="grey-canvas">

            {{> wordcloud_template}}

            <!-- STARS DISTRIBUTION OF BUSINESSES -->
            <table class="body-item-1">
                <tr class="body-item">
                    <td class="body-item">
                        <p class="body-item-title-school">
                            STARS DISTRIBUTION OF BUSINESSES
                        </p>
                    </td>
                </tr>
            </table>
            <table class="body-item-2">
                <tr class="body-item">
                    <td class="body-item">
                        <canvas id="bar-chart-stars-businesses">
                            <script>
                            var data = {
                                labels: ["1", "1.5", "2", "2.5", "3", "3.5", "4", "4.5", "5"],
                                datasets: [
                                    {
                                        label: "Stars Distribution of Businesses",
                                        backgroundColor: [
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                        ],
                                        borderColor: [
                                        ],
                                        borderWidth: 1,
                                        data: [30, 62, 149, 293, 546, 901, 905, 754, 448],
                                    }
                                ]
                            };
                            var ctx = document.getElementById("bar-chart-stars-businesses");
                            var myBarChart = new Chart(ctx, {
                                type: 'bar',
                                data: data,
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero:true
                                            }
                                        }]
                                    }
                                }
                            });
                            </script>
                        </div>
                    </td>
                </tr>
            </table>


            <!-- NUMBER OF REVIEWS OF BUSINESSES -->
            <table class="body-item-1">
                <tr class="body-item">
                    <td class="body-item">
                        <p class="body-item-title-school">
                            NUMBER OF REVIEWS OF BUSINESSES
                        </p>
                    </td>
                </tr>
            </table>
            <table class="body-item-2">
                <tr class="body-item">
                    <td class="body-item">
                        <canvas id="bar-chart-review_count-businesses">
                            <script>
                            var data = {
                                labels: ["0-9", "10-19", "20-29", "30-39", "40-49", "50-59", "60-69", "70-79", "80-89", "90-99", "100-1175"],
                                datasets: [
                                    {
                                        label: "Number of Reviews of Businesses",
                                        backgroundColor: [
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                        ],
                                        borderColor: [
                                        ],
                                        borderWidth: 1,
                                        data: [1842, 713, 349, 184, 126, 96, 74, 64, 45, 48, 270],
                                    }
                                ]
                            };
                            var ctx = document.getElementById("bar-chart-review_count-businesses");
                            var myBarChart = new Chart(ctx, {
                                type: 'bar',
                                data: data,
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero:true
                                            }
                                        }]
                                    }
                                }
                            });
                            </script>
                        </div>
                    </td>
                </tr>
            </table>


            <!-- NEIGHBORHOODS DISTRIBUTION OF BUSINESSES -->
            <table class="body-item-1">
                <tr class="body-item">
                    <td class="body-item">
                        <p class="body-item-title-school">
                            NEIGHBORHOODS DISTRIBUTION OF BUSINESSES
                        </p>
                    </td>
                </tr>
            </table>
            <table class="body-item-2">
                <tr class="body-item">
                    <td class="body-item">
                        <canvas id="bar-chart-neighborhoods-businesses">
                            <script>
                            var data = {
                                labels: ["Allentown", "Aspinwall", "Avalon", "Banksville", "Beechview", "Bellevue",
                                         "Bloomfield", "Bon Air", "Brighton Heights", "Brookline", "Carnegie",
                                         "Carrick", "Crafton Heights", "Dormont", "Downtown", "Duquesne Heights",
                                         "East Carnegie", "East Liberty", "Etna", "Fairywood", "Friendship", "Garfield",
                                         "Greenfield", "Greentree", "Hays", "Hazelwood", "Highland Park", "Homestead",
                                         "Homewood", "Knoxville", "Larimer", "Lawrenceville", "Lincoln", "Millvale",
                                         "Morningside", "Mt. Oliver", "Mt. Washington", "North Side", "Oakland",
                                         "Observatory Hill", "Overbrook", "Point Breeze", "Polish Hill", "Regent Square",
                                         "Shadyside", "Sharpsburg", "Sheraden", "South Side", "South Side Slopes",
                                         "Squirrel Hill", "Strip District", "The Hill District", "Troy Hill", "West End",
                                         "West View", "Windgap"],
                                datasets: [
                                    {
                                        label: "Neighborhoods Distribution of Businesses",
                                        backgroundColor: [
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                        ],
                                        borderColor: [
                                        ],
                                        borderWidth: 1,
                                        data: [9, 27, 10, 35, 32, 47, 163, 3, 10, 47, 37, 28, 3, 71, 491, 14, 1, 83,
                                               15, 2, 10, 27, 42, 44, 3, 3, 18, 114, 12, 4, 25, 199, 4, 20, 9, 7, 41,
                                               170, 278, 4, 11, 25, 12, 7, 263, 13, 2, 382, 9, 234, 186, 34, 11, 38, 2, 1],
                                    }
                                ]
                            };
                            var ctx = document.getElementById("bar-chart-neighborhoods-businesses");
                            var myBarChart = new Chart(ctx, {
                                type: 'bar',
                                data: data,
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero:true
                                            }
                                        }]
                                    }
                                }
                            });
                            </script>
                        </div>
                    </td>
                </tr>
            </table>


            <!-- STARS DISTRIBUTION OF REVIEWES -->
            <table class="body-item-1">
                <tr class="body-item">
                    <td class="body-item">
                        <p class="body-item-title-school">
                            STARS DISTRIBUTION OF REVIEWES
                        </p>
                    </td>
                </tr>
            </table>
            <table class="body-item-2">
                <tr class="body-item">
                    <td class="body-item">
                        <canvas id="bar-chart-stars-reviewes">
                            <script>
                            var data = {
                                labels: ["1", "2", "3", "4", "5"],
                                datasets: [
                                    {
                                        label: "Stars Distribution of Reviews",
                                        backgroundColor: [
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                        ],
                                        borderColor: [
                                        ],
                                        borderWidth: 1,
                                        data: [9942, 10163, 16051, 33150, 42244],
                                    }
                                ]
                            };
                            var ctx = document.getElementById("bar-chart-stars-reviewes");
                            var myBarChart = new Chart(ctx, {
                                type: 'bar',
                                data: data,
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero:true
                                            }
                                        }]
                                    }
                                }
                            });
                            </script>
                        </div>
                    </td>
                </tr>
            </table>


            <!-- YEAR DISTRIBUTION OF REVIEWES -->
            <table class="body-item-1">
                <tr class="body-item">
                    <td class="body-item">
                        <p class="body-item-title-school">
                            YEAR DISTRIBUTION OF REVIEWES
                        </p>
                    </td>
                </tr>
            </table>
            <table class="body-item-2">
                <tr class="body-item">
                    <td class="body-item">
                        <canvas id="bar-chart-year-reviewes">
                            <script>
                            var data = {
                                labels: ["2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016"],
                                datasets: [
                                    {
                                        label: "Year Distribution of Reviews",
                                        backgroundColor: [
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)'
                                        ],
                                        borderColor: [
                                        ],
                                        borderWidth: 1,
                                        data: [2, 21, 70, 192, 318, 552, 929, 1237, 1993, 2856, 1772],
                                    }
                                ]
                            };
                            var ctx = document.getElementById("bar-chart-year-reviewes");
                            var myBarChart = new Chart(ctx, {
                                type: 'bar',
                                data: data,
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero:true
                                            }
                                        }]
                                    }
                                }
                            });
                            </script>
                        </div>
                    </td>
                </tr>
            </table>


            <!-- MONTH DISTRIBUTION OF REVIEWES -->
            <table class="body-item-1">
                <tr class="body-item">
                    <td class="body-item">
                        <p class="body-item-title-school">
                            MONTH DISTRIBUTION OF REVIEWES
                        </p>
                    </td>
                </tr>
            </table>
            <table class="body-item-2">
                <tr class="body-item">
                    <td class="body-item">
                        <canvas id="bar-chart-month-reviewes">
                            <script>
                            var data = {
                                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                                datasets: [
                                    {
                                        label: "Year Distribution of Reviews",
                                        backgroundColor: [
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)'
                                        ],
                                        borderColor: [
                                        ],
                                        borderWidth: 1,
                                        data: [805, 745, 814, 871, 868, 974, 951, 846, 770, 822, 756, 720],
                                    }
                                ]
                            };
                            var ctx = document.getElementById("bar-chart-month-reviewes");
                            var myBarChart = new Chart(ctx, {
                                type: 'bar',
                                data: data,
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero:true
                                            }
                                        }]
                                    }
                                }
                            });
                            </script>
                        </div>
                    </td>
                </tr>
            </table>




            <!-- AVERAGE STARS GIVEN BY USERS -->
            <table class="body-item-1">
                <tr class="body-item">
                    <td class="body-item">
                        <p class="body-item-title-school">
                            AVERAGE STARS GIVEN BY USERS
                        </p>
                    </td>
                </tr>
            </table>
            <table class="body-item-2">
                <tr class="body-item">
                    <td class="body-item">
                        <canvas id="bar-chart-stars-users">
                            <script>
                            var data = {
                                labels: ["1.00-1.49", "1.50-1.99", "2.00-2.49", "2.50-2.99", "3.00-3.49", "3.50-3.99", "4.00-4.49", "4.50-5.00"],
                                datasets: [
                                    {
                                        label: "Average Stars Given by Users",
                                        backgroundColor: [
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                        ],
                                        borderColor: [
                                        ],
                                        borderWidth: 1,
                                        data: [2080, 615, 2463, 4036, 16913, 45580, 27247, 12612],
                                    }
                                ]
                            };
                            var ctx = document.getElementById("bar-chart-stars-users");
                            var myBarChart = new Chart(ctx, {
                                type: 'bar',
                                data: data,
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero:true
                                            }
                                        }]
                                    }
                                }
                            });
                            </script>
                        </div>
                    </td>
                </tr>
            </table>


            <!-- NUMBER OF FANS OF USERS -->
            <table class="body-item-1">
                <tr class="body-item">
                    <td class="body-item">
                        <p class="body-item-title-school">
                            NUMBER OF FANS OF USERS
                        </p>
                    </td>
                </tr>
            </table>
            <table class="body-item-2">
                <tr class="body-item">
                    <td class="body-item">
                        <canvas id="bar-chart-fans-users">
                            <script>
                            var data = {
                                labels: ["0-9", "10-19", "20-29", "30-39", "40-49", "50-59", "60-69", "70-79", "80-89", "90-99", "100-1354"],
                                datasets: [
                                    {
                                        label: "Number of Fans of Users",
                                        backgroundColor: [
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                            'rgba(67, 129, 182, 1)',
                                        ],
                                        borderColor: [
                                        ],
                                        borderWidth: 1,
                                        data: [94124, 9199, 3219, 1253, 1009, 1053, 447, 32, 14, 1048],
                                    }
                                ]
                            };
                            var ctx = document.getElementById("bar-chart-fans-users");
                            var myBarChart = new Chart(ctx, {
                                type: 'bar',
                                data: data,
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero:true
                                            }
                                        }]
                                    }
                                }
                            });
                            </script>
                        </div>
                    </td>
                </tr>
            </table>


              <br /><br /><br /><br />
        </div>


{{> footer}}
