{{> header}}

    <body>


      <!-- JvectorMap -->
      <link rel="stylesheet" href="jvectormap/jquery-jvectormap-2.0.3.css" type="text/css" media="screen"/>
      <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
      <script src="jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
      <script src="jvectormap/jquery-jvectormap-world-mill.js"></script>
      <script src="jvectormap/jquery-jvectormap-us-aea.js"></script>
      <script src="jvectormap/jquery-jvectormap-ca-lcc.js"></script>
      <script src="jvectormap/jquery-jvectormap-de-mill.js"></script>
      <script src="jvectormap/jquery-jvectormap-uk_regions-mill.js"></script>

      <script>
          // Parameters
          const backgroundColor = '#08101c';
          const borderColor = '#4772b8';
      </script>


      <!-- Navbar -->
        <div class="navbar">
            <table class="navbar">
                <tr class="navbar">
                    <td class="navbar-icon">
                        <a href="index.html">
                            <img class="navbar-logo" src="images/logo/logo-medium.png" alt="logo">
                        </a>
                    </td>
                    <td class="navbar-word">
                        <a href="statistics">
                            <p class="navbar-current">
                                STATISTICS
                            </p>
                        </a>
                    </td>
                    <td class="navbar-word">
                        <a href="">
                            <p class="navbar">
                                ABOUT
                            </p>
                        </a>
                    </td>
                    <td class="navbar-word">
                        <a href="">
                            <p class="navbar">
                                ABOUT
                            </p>
                        </a>
                    </td>
                    <td class="navbar-word">
                        <a href="about">
                            <p class="navbar">
                                ABOUT
                            </p>
                        </a>
                    </td>
                </tr>
            </table>


            <!-- I love the slim seprator line generated in this way -->
            <div style="height:0;overflow:hiddne;border-top:1px solid #DBDBDB" class="separator"></div>
        </div>

        <!-- Middle -->
        <div class="grey-canvas">

            <!-- World map -->
            <table class="body-item-1">
                <tr class="body-item">
                    <td class="body-item">
                        <p class="body-item-title-school">
                            DATA DISTRIBUTION
                        </p>
                    </td>
                </tr>
            </table>
            <table class="body-item-2">
                <tr class="body-item">
                    <td class="body-item">
                        <div class="map" id="world-map"></div>
                        <script>

                            $(function() {
                              $('#world-map').vectorMap(
                                {
                                  map: 'world_mill',
                                  backgroundColor: backgroundColor,
                                  hoverColor: false,
                                  hoverOpacity: 0.7,
                                  regionStyle : {
                                    initial : {
                                      fill : backgroundColor,
                                      "fill-opacity" : 1,
                                      stroke : borderColor,
                                      "stroke-width" : 0.7,
                                      "stroke-opacity" : 1
                                    }
                                  },
                                  series: {
                                    regions: [{
                                      attribute: 'fill',
                                      scale: ['#C8EEFF', '#0071A4'],
                                      normalizeFunction: 'polynomial'
                                    }]
                                  }
                                }
                              );

                              // Color for USA
                              var mapObject = $('#world-map').vectorMap('get', 'mapObject');
                              mapObject.regions['US'].element.config.style.selected.fill = "#24395c";
                              mapObject.setSelectedRegions('US');

                              // Color for Canada
                              var mapObject = $('#world-map').vectorMap('get', 'mapObject');
                              mapObject.regions['CA'].element.config.style.selected.fill = "#24395c";
                              mapObject.setSelectedRegions('CA');

                              // Color for Germany
                              var mapObject = $('#world-map').vectorMap('get', 'mapObject');
                              mapObject.regions['DE'].element.config.style.selected.fill = "#24395c";
                              mapObject.setSelectedRegions('DE');

                              // Color for UK
                              var mapObject = $('#world-map').vectorMap('get', 'mapObject');
                              mapObject.regions['GB'].element.config.style.selected.fill = "#24395c";
                              mapObject.setSelectedRegions('GB');
                            });
                        </script>
                    </td>
                </tr>
            </table>


            <!-- USA map -->
            <table class="body-item-1">
                <tr class="body-item">
                    <td class="body-item">
                        <p class="body-item-title-school">
                            USA DATA DISTRIBUTION
                        </p>
                    </td>
                </tr>
            </table>
            <table class="body-item-2">
                <tr class="body-item">
                    <td class="body-item">
                        <div class="map" id="usa-map"></div>
                        <script>
                            $(function(){
                              $('#usa-map').vectorMap(
                                {
                                  map: 'us_aea',
                                  backgroundColor: backgroundColor,
                                  hoverColor: false,
                                  hoverOpacity: 0.7,
                                  regionStyle : {
                                    initial : {
                                      fill : backgroundColor,
                                      "fill-opacity" : 1,
                                      stroke : borderColor,
                                      "stroke-width" : 1,
                                      "stroke-opacity" : 1
                                    }
                                  },
                                  series: {
                                    regions: [{
                                      attribute: 'fill',
                                      scale: ['#C8EEFF', '#0071A4'],
                                      normalizeFunction: 'polynomial'
                                    }]
                                  }
                                }
                              );

                              // Color for Pittsburgh, Pennsylvania
                              var mapObject = $('#usa-map').vectorMap('get', 'mapObject');
                              mapObject.regions['US-PA'].element.config.style.selected.fill = "#24395c";
                              mapObject.setSelectedRegions('US-PA');

                              // Color for Charlotte, North Carolina
                              var mapObject = $('#usa-map').vectorMap('get', 'mapObject');
                              mapObject.regions['US-NC'].element.config.style.selected.fill = "#24395c";
                              mapObject.setSelectedRegions('US-NC');

                              // Color for Las Vegas, Nevada
                              var mapObject = $('#usa-map').vectorMap('get', 'mapObject');
                              mapObject.regions['US-NV'].element.config.style.selected.fill = "#24395c";
                              mapObject.setSelectedRegions('US-NV');

                              // Color for Cleveland, Ohio
                              var mapObject = $('#usa-map').vectorMap('get', 'mapObject');
                              mapObject.regions['US-OH'].element.config.style.selected.fill = "#24395c";
                              mapObject.setSelectedRegions('US-OH');

                              // Color for Madison, Wisconsin
                              var mapObject = $('#usa-map').vectorMap('get', 'mapObject');
                              mapObject.regions['US-WI'].element.config.style.selected.fill = "#24395c";
                              mapObject.setSelectedRegions('US-WI');

                              // Color for Pheonix, Arizona
                              var mapObject = $('#usa-map').vectorMap('get', 'mapObject');
                              mapObject.regions['US-AZ'].element.config.style.selected.fill = "#24395c";
                              mapObject.setSelectedRegions('US-AZ');

                              // Color for Urbana-Champaign, Illinois
                              var mapObject = $('#usa-map').vectorMap('get', 'mapObject');
                              mapObject.regions['US-IL'].element.config.style.selected.fill = "#24395c";
                              mapObject.setSelectedRegions('US-IL');
                            });
                        </script>
                    </td>
                </tr>
            </table>


            <!-- Canada map -->
            <table class="body-item-1">
                <tr class="body-item">
                    <td class="body-item">
                        <p class="body-item-title-school">
                            CANADA DATA DISTRIBUTION
                        </p>
                    </td>
                </tr>
            </table>
            <table class="body-item-2">
                <tr class="body-item">
                    <td class="body-item">
                        <div class="map" id="canada-map"></div>
                        <script>
                            $(function(){
                              $('#canada-map').vectorMap(
                                {
                                  map: 'ca_lcc',
                                  backgroundColor: backgroundColor,
                                  hoverColor: false,
                                  hoverOpacity: 0.7,
                                  regionStyle : {
                                    initial : {
                                      fill : backgroundColor,
                                      "fill-opacity" : 1,
                                      stroke : borderColor,
                                      "stroke-width" : 1.3,
                                      "stroke-opacity" : 1
                                    }
                                  },
                                  series: {
                                    regions: [{
                                      attribute: 'fill',
                                      scale: ['#C8EEFF', '#0071A4'],
                                      normalizeFunction: 'polynomial'
                                    }]
                                  }
                                }
                              );

                              // Color for Waterloo, Ontario
                              var mapObject = $('#canada-map').vectorMap('get', 'mapObject');
                              mapObject.regions['CA-ON'].element.config.style.selected.fill = "#24395c";
                              mapObject.setSelectedRegions('CA-ON');

                              // Color for Montreal, Quebec
                              var mapObject = $('#canada-map').vectorMap('get', 'mapObject');
                              mapObject.regions['CA-QC'].element.config.style.selected.fill = "#24395c";
                              mapObject.setSelectedRegions('CA-QC');
                            });
                        </script>
                    </td>
                </tr>
            </table>


            <!-- Germany map -->
            <table class="body-item-1">
                <tr class="body-item">
                    <td class="body-item">
                        <p class="body-item-title-school">
                            GERMANY DATA DISTRIBUTION
                        </p>
                    </td>
                </tr>
            </table>
            <table class="body-item-2">
                <tr class="body-item">
                    <td class="body-item">
                        <div class="map" id="germany-map"></div>
                        <script>
                            $(function(){
                              $('#germany-map').vectorMap(
                                {
                                  map: 'de_mill',
                                  backgroundColor: backgroundColor,
                                  hoverColor: false,
                                  hoverOpacity: 0.7,
                                  regionStyle : {
                                    initial : {
                                      fill : backgroundColor,
                                      "fill-opacity" : 1,
                                      stroke : borderColor,
                                      "stroke-width" : 1.5,
                                      "stroke-opacity" : 1
                                    }
                                  },
                                  series: {
                                    regions: [{
                                      attribute: 'fill',
                                      scale: ['#C8EEFF', '#0071A4'],
                                      normalizeFunction: 'polynomial'
                                    }]
                                  }
                                }
                              );

                              // Color for Karlsruhe,
                              var mapObject = $('#germany-map').vectorMap('get', 'mapObject');
                              mapObject.regions['DE-BW'].element.config.style.selected.fill = "#24395c";
                              mapObject.setSelectedRegions('DE-BW');
                            });
                        </script>
                    </td>
                </tr>
            </table>


            <!-- UK map -->
            <table class="body-item-1">
                <tr class="body-item">
                    <td class="body-item">
                        <p class="body-item-title-school">
                            UK DATA DISTRIBUTION
                        </p>
                    </td>
                </tr>
            </table>
            <table class="body-item-2">
                <tr class="body-item">
                    <td class="body-item">
                        <div class="map" id="uk-map"></div>
                        <script>
                          // var colors = {};
                          // colors['SCT'] = '#FFFFFF';

                            $(function(){
                              map = $('#uk-map').vectorMap(
                                {
                                  map: 'uk_regions_mill',
                                  backgroundColor: backgroundColor,
                                  hoverColor: false,
                                  hoverOpacity: 0.7,
                                  // colors: colors,
                                  regionStyle : {
                                    initial : {
                                      fill : backgroundColor,
                                      "fill-opacity" : 1,
                                      stroke : borderColor,
                                      "stroke-width" : 2,
                                      "stroke-opacity" : 1
                                    }
                                  },
                                  series: {
                                    regions: [{
                                      attribute: 'fill',
                                      scale: ['#C8EEFF', '#0071A4'],
                                      normalizeFunction: 'polynomial'
                                    }]
                                  }
                                }
                              );

                              // Color for Edinburgh, Scotland
                              var mapObject = $('#uk-map').vectorMap('get', 'mapObject');
                              mapObject.regions['SCT'].element.config.style.selected.fill = "#24395c";
                              mapObject.setSelectedRegions('SCT');
                            });
                        </script>
                    </td>
                </tr>
            </table>


              <br /><br /><br /><br />
        </div>


{{> footer}}
