/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


/* Restaurants Recommendation */
img.star-icon {
    margin-top: 18px;
    width: 18px;
    height: 18px;
    padding-right: 10px;
    margin-bottom: 0px;
    margin-right: 0px;
}
img.other-icon {
    margin-top: 18px;
    width: 18px;
    height: 18px;
    padding-left: 10px;
    margin-bottom: 0px;
    margin-right: 0px;
}
input.submit-button {
    width: 193px;
    height: 25px;
    font-family: Myriad Pro;
    background-color: #525558;
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
    font-size: 18px;
}
table.form-table {
    background-color: #FAFAFA;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 74px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
div.fixed-form-div {
    background-color: #FAFAFA;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2px;
    width: 100%;
    top: 70px;
    height: 75px;
    z-index: 9999;
}
#url-text {
    margin-left: 26px;
    margin-right: 23px;
    width: 500px;
    font-family: Myriad Pro;
    font-size: 15px;
}
input.copy-url-button {
    width: 160px;
    height: 25px;
    font-family: Myriad Pro;
    background-color: #525558;
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    padding-top: 5px;
    text-decoration: none;
    display: inline-block;
    margin-left: -14px;
    margin-bottom: 23px;
    margin-top:23px;
    cursor: pointer;
    font-size: 15px;
}
input.key-word-button {
    height: 18px;
    font-family: Myriad Pro;
    background-color: #525558;
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
    font-size: 14px;
}

input.range {
    margin-left: 5px;
    margin-right: 5px;
    height: 11px;
    width: 90px;
}

td.key_words {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
}

td.slide_bar {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    text-align: center;
    vertical-align: middle;
}


/* Maps */
div.map {
  width: 732px;
  height: 400px;
}

/* General */
span.title-small {
    font-family: Myriad Pro;
    color: white;
    font-size: 29px;
    margin-bottom: 10px;
}
span.title {
    font-family: Myriad Pro;
    color: white;
    font-size: 60px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}
span.title-medium {
    font-family: Myriad Pro;
    color: white;
    font-size: 33px;
    font-weight: bold;
    margin-top: 0px;
}
div.suspension {
    width: 100%;
    height: 640px;
    background-image: url(https://s3.amazonaws.com/hao-wang-portfolio/images/index-background-copy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
table.index {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
tr.index {
    height: 200px;
}


/* navbar */
div.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    background-color: white;
    z-index: 9999;
}
table.navbar {
    width: 100%;
    height: 75px;
    background-color: white;
    margin-left: -10px;
    margin-right: -10px;
}
tr.navbar {
    width: 100%;
}
td.navbar-icon {
    width: 15%;
    text-align: center;
}
td.navbar-word {
    width: 20%;
    text-align: center;
}
img.navbar-logo {
    width: 50px;
    height: 50px;
}
img.navbar-logo:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
p.navbar {
    font-family: Myriad Pro;
    color: #525558;
    font-size: 18px;
}
p.navbar:hover {
    color: #2b6ea1;
}
p.navbar-current {
    font-family: Myriad Pro;
    color: #000000;
    font-size: 18px;
}
div.separator {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 0px;
}


/* content */
div.grey-canvas {
    background-color: #FAFAFA;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
p.body-item-title-school {
    font-family: Myriad Pro;
    color: #525558;
    margin-left: 34px;
    margin-top: 15px;
    margin-bottom: 11px;
    font-size: 17px;
}
p.body-item-title-school:hover {
    color: #2b6ea1;
}
p.body-item-title-company {
    font-family: Myriad Pro;
    color: #525558;
    margin-left: 34px;
    margin-top: 15px;
    margin-bottom: 11px;
    vertical-align: center;
    font-size: 17px;
}
p.body-item-title-company:hover {
    color: #2b6ea1;
}
p.body-item-content-first {
    font-family: Myriad Pro;
    color: #525558;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 11px;
    font-size: 15px;
}
p.body-item-content {
    font-family: Myriad Pro;
    color: #525558;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 11px;
    font-size: 15px;
    max-width: 610px;
    word-wrap: normal;
}
input.body-item-content {
    font-family: Myriad Pro;
    color: #525558;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 11px;
    font-size: 15px;
}
p.body-item-content-last {
    font-family: Myriad Pro;
    color: #525558;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 15px;
}
table.body-item-1 {
    padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}
table.body-item-2 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: -5px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 20px;
}
tr.body-item-1 {
    margin-left: auto;
    margin-right: auto;
}
tr.body-item-2 {
    margin-left: auto;
    margin-right: auto;
}
td.body-item {
    margin-left: 30%;
    margin-right: 30%;
    border: solid #EDEDED 1px;
    background-color: white;
    margin-bottom: 0px;
}


/* a */
a {
    text-decoration: none !important;
}
a.school-name:hover {
    color: black;
    text-decoration:none;
    cursor:pointer;
}
a.school-name {
    color: #525558;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}


/* bottom */
div.bottom {
    width: 60%;
    text-align: center;
    margin: auto;
}
table.bottom {
    width: 100%;
    background-color: white;
    text-align: center;
}
tr.bottom {
    width: 100%;
    text-align: center;
}
td.bottom-icon {
    width: 5%;
    text-align: center;
}
p.bottom {
    font-family: Myriad Pro;
    color: #525558;
    font-size: 15px;
    text-align: center;
}
img.bottom {
    width: 30px;
    height: 30px;
}

/* school logo */
img.school-logo {
    width: 110px;
    margin-left: 20px;
    margin-right: 40px;
}
img.school-logo:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}
img.company-logo {
    width: 110px;
    margin-left: 20px;
    margin-right: 40px;
}
img.company-logo:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}
td.item-school-logo {
    height: 300px;
    vertical-align: center;
    text-align: center;
}
td.item-school-content {
    vertical-align: top;
    position: relative;
    left: -30px;
}
span.school-name {
    font-weight: bold;
    font-size: 17px;
}
span.school-name:hover {
    color: #2b6ea1;
}
span.school-info {
    font-size: 14px;
    margin-left: 40px;
    font-weight: lighter;
}


/* Photography */
p.image-description {
    font-family: Myriad Pro;
    color: #525558;
    font-size: 18px;
    visibility: hidden;
    margin-top: -40px;
    margin-left: 0px;
    background-color: white;
    text-align: center;
}
img.photo-43 {
    width: 370px;
    height: 260px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    box-shadow: 1px 1px 1px #CCCCCC;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
div.image-wrap:hover p.image-description {
    visibility: visible;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
div.image-wrap:hover img.photo-43 {
    -webkit-filter: blur(5px);
}
div.image-wrap:hover img.photo-169 {
    -webkit-filter: blur(5px);
}
div.image-wrap:hover img.photo-34 {
    -webkit-filter: blur(5px);
}
img.photo-169 {
    width: 560px;
    height: 260px;
    margin-left: 5px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 2px;
    box-shadow: 1px 1px 1px #CCCCCC;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
img.photo-34 {
    width: 274px;
    height: 390px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 2px;
    box-shadow: 1px 1px 1px #CCCCCC;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
